<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <style>
        body{text-align: center;}   # 자식태그들을 부모태그 기준으로 가운데 정렬
    </style>
</head>
<body>
    <h1>Blog Project</h1>
    <div>
        <a href= {% url 'new' %}>write blog</a>    
    </div>
    <div class="container">
    {% for blog in blogs %}
        <div>
        <h3>{{blog.title}}</h3>  <!-- . 을 통해 bolg의 object인 title에 접근 --> 
        {{blog.id}}
        {{blog.writer}}
        {{blog.summary}} <a href = "{% url 'detail' blog.id %}">...more</a>    <!-- body를 요약한 summay 함수값을 가져옴 --> <!--detail이라는 이름을 가진 url로 요청을 보내는데 blog.id도 같이 보냄 -->
        <br>
        {% endfor %}
        </div>
    </div>

</body>
</html>